body, input, button, textarea
  font-size 12px
  font-family "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
h1
  font-size 20px

h2 
  font-size: 16px

h3
  font-size: 14px

h4, h5, h6
  font-size: 12px

h1,h2,h3,h4,h5,h6
  margin 0

p
  margin 0